[Unit]
Description=My test service
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/home/okoloboga/ai_bot/venv2/bin/python3 main.py
WorkingDirectory=/home/okoloboga/ai_bot
# ExecStart=/root/ai_bot/venv/bin/python3 main.py
# WorkingDirectory=/root/ai_bot

[Install]
WantedBy=multi-user.target
